<br/>
<br/>
{{partial 'steps'}}
<br>
<!--dashboard -->
<div class="dash1-middle-container">
    <div class="notification-container">
    <h2 class="notification-title"> <b>Notifications</b></h2>
    <div class="row">
        <div class="col-sm-4"></div>
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
      <p style="text-indent: 50px;"><button type="button" class="btn btn-primary active"{{action 'newclaim'}}>New Claim</button>&nbsp; &nbsp; &nbsp; &nbsp;<button type="button" class="btn btn-primary active"{{action 'getclaim'}}>Get Claim</button></p>
    </div>
    </div>
        <div class="notification-heading">
        </div>
    </div>
    <br>
   <div class="row">
        <div class="col-sm-4" ></div>
        
        <div class="col-sm-4" {{action 'claimaction'}}>
             <div id="rectangle">
            <p><font color="white"><span style="text-align:left"><b>Claim</b> : 477</span></font> &nbsp; &nbsp; &nbsp; 
            <font color="white"> <span style="text-align:left"> <b>  Titel </b>: Car damages due to accident </span></font >&nbsp; &nbsp; &nbsp; 
            <font color="red"> <span style="text-align:left">  <b> Status </b>:Examined </span></font >
           
            </p>
        </div>   

        <div id="rectangle" {{action 'claimaction'}}>
            <p><font color="white"><span style="text-align:left"><b>Claim</b> :413</span></font> &nbsp; &nbsp; &nbsp; 
            <font color="white"> <span style="text-align:left"> <b>  Titel </b>:   East Wing caught on Fire </span></font >&nbsp; &nbsp; &nbsp; &nbsp;
            <font color="red"> <span style="text-align:left">  <b> Status </b>:Validated</span></font >
           
            </p>
        </div> 
        <div id="rectangle" {{action 'claimaction'}}>
            <p><font color="white"><span style="text-align:left"><b>Claim</b> :413</span></font> &nbsp; &nbsp; &nbsp; 
            <font color="white"> <span style="text-align:left"> <b>  Titel </b>:  East Wing caught on Fire </span></font >&nbsp; &nbsp; &nbsp; &nbsp;
            <font color="red"> <span style="text-align:left">  <b> Status </b>:Validated</span></font >
           
            </p>
        </div>  
        </div>
        </div> 
    
</div>

<br>
<div class="end-container" width="100px">
    <div class="row">
<p><b>Settlement Time </b>&nbsp; &nbsp; <span>Average: 5 Days</span> &nbsp; &nbsp;  Longest: 9 Days  </p>
    </div>
<div class="row">
<p><b>Payout </b>&nbsp; &nbsp; &nbsp;<span>Average: 72%</span> &nbsp; &nbsp;  Lowest: 54%  </p>
</div> 

</div>

